<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button color="light" (click)="logout()">
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Promotion de Pierre-Florent Poujol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- List des codes promo d'un utisateur -->
<ion-list>
  <ion-item-sliding>
  <ion-item>
    <ion-label>
      <h2>20% de réduction sur Jean Levi's</h2>
      <p>KADO20
      <br>Date limite : 07/03/2020</p>
    </ion-label>
    <ion-icon name="swap-horizontal-outline"></ion-icon>
  </ion-item>  
<ion-item-options side="end">
      <!-- <ion-item-option (click)="unread(item)">Unread</ion-item-option>
    <ion-item-option (click)="copyText(item)"> <ion-icon name="copy-outline"></ion-icon></ion-item-option>-->
  </ion-item-options>
</ion-item-sliding>
<ion-item-sliding>
  <ion-item>
    <ion-label>
      <h2>30% de réduction sur Sneakers Adidas</h2>
      <p [(ngModel)]="CopyTextAreaText">SUPER50
        <br>Date limite : 09/03/2020</p>
    </ion-label>
    <ion-icon name="swap-horizontal-outline"></ion-icon>
  </ion-item> 
 <ion-item-options side="end">
      <!--<ion-item-option (click)="unread(item)">Unread</ion-item-option>
    <ion-item-option (click)="copyText(item)"> <ion-icon name="copy-outline"></ion-icon></ion-item-option>-->
  </ion-item-options>
</ion-item-sliding>
</ion-list>
</ion-content>
