<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button color="light" (click)="logout()">
                <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mes promos GoStyle</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let promo of promos">
            <ion-item>
                <ion-label>
                    <h2>{{ promo.description }}</h2>
                    <p>{{ promo.code }}
                        <br>Date limite : {{ promo.dateExpiration | date: 'dd/MM/yyyy' }}</p>
                </ion-label>
                <ion-icon name="swap-horizontal-outline"></ion-icon>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option>Unread</ion-item-option>
                <ion-item-option>
                    <ion-icon name="copy-outline"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <p>Enter text then click copy<br>
        <ion-textarea [(ngModel)]="CopyTextAreaText"></ion-textarea>
        <ion-button color="primary" (click)="copyText()">Copy Text</ion-button>
    </p>

    <p>Paste text<br>
        <ion-textarea [(ngModel)]="PasteTextAreaText"></ion-textarea>
        <ion-button color="primary" (click)="pasteText()">Paste Here</ion-button>
        <ion-button color="primary" (click)="clearClipboard()">Clear Clipboard</ion-button>
    </p>
    <ion-fab class="ion-padding" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="scanCode()">
            <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
